<p>
  Add User to team
</p>
<div class="all-users-container mat-elevation-z8">
  
  <div class="search-user">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search user">
      </mat-form-field>
    </div>

<mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> first name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> last name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef> role </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete" >
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button *ngIf="(team.users.includes(element.id))" disabled>Allready in this team</button>
          <button mat-button *ngIf="!(team.users.includes(element.id))" (click) = "addUser(element.id)" class="add-user-btn">Add User</button> 
        </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>