<mat-card *ngIf="ticket" class="ticket">
    <mat-card-header>
      <mat-card-title> {{ticket.description}} </mat-card-title>
      <mat-card-subtitle> {{ticket.team.name}}</mat-card-subtitle>
      <mat-card-subtitle>{{ticket.importance.name}}</mat-card-subtitle>
      <mat-card-subtitle>{{ticket.status.name}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content> Requester: {{ticket.requester.firstName}} {{ticket.requester.lastName}} </mat-card-content>
    <mat-card-content> Contact to: {{ticket.escalationContact.firstName}} {{ticket.escalationContact.firstName}}</mat-card-content>
    <mat-card-content> Deadline: {{ticket.deadLine}}</mat-card-content>

    <mat-card-footer></mat-card-footer>
  </mat-card>

  <mat-card class="error" *ngIf="resEror">
      <mat-card-title>resEror</mat-card-title>