<nav mat-tab-nav-bar>
    <a mat-tab-link *ngIf="canViewAllTickets" [routerLink]=" '' " routerLinkActive #link1="routerLinkActive" [active]="link1.isActive">
        All tickets 
      </a>
  <a mat-tab-link [routerLink]=" 'assignto' " routerLinkActive #link2="routerLinkActive" [active]="link2.isActive">
    Tickets assign to me 
  </a>
  <a mat-tab-link [routerLink]=" 'allofteam' " routerLinkActive #link3="routerLinkActive" [active]="link3.isActive">
    Tickets in my teams 
  </a>
  <a mat-tab-link [routerLink]=" 'assigntointeam' " routerLinkActive #link2="routerLinkActive" [active]="link2.isActive">
    Tickets assign to me in my teams 
  </a>
  <a mat-tab-link [routerLink]=" 'requested' " routerLinkActive #link4="routerLinkActive" [active]="link4.isActive">
    Requested tickets 
  </a>
  <a mat-tab-link [routerLink]=" 'createticket' " routerLinkActive #link4="routerLinkActive" [active]="link4.isActive">
    New tickets 
  </a>
  
  
</nav>

<router-outlet></router-outlet>
