<mat-card class="ticket" *ngFor="let ticket of tickets">
  <mat-card-header>
    <mat-card-title> {{ticket.description}} </mat-card-title>
    <mat-card-subtitle> {{ticket.teamName}}</mat-card-subtitle>
    <mat-card-subtitle class="importance">{{ticket.importanceName}}</mat-card-subtitle>
    <mat-card-subtitle class="status">{{ticket.statusName}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content> Assign to: {{ticket.assignToName}}</mat-card-content>
  <mat-card-content> Requester: {{ticket.requesterName}}</mat-card-content>
  <mat-card-content> Contact to: {{ticket.escalationContactName}}</mat-card-content>
  <mat-card-content> Deadline: {{ticket.deadLine | date: 'shortDate'}}. {{ticket.deadLine | date: 'shortTime' }}</mat-card-content>


  <button mat-button (click)="btnClicked(ticket.id)" class="view-btn">View Ticket</button>

</mat-card>
