.ticket {
  margin: 10px;
  padding: 10px;
  border: 2px solid blue;
}
.mat-card-header {
  width: 80%;
}
.status, .importance {
  width: 18%;
  border: 1px solid;
}

.mat-card-title {
  font-size: 16px;
  font-weight: bold;
  color: #3f51b5;
}

.view-btn {
  margin: 10px 30px;
  align-self: right;
  background-color: #3f51b5;
  color: #fff;
}
