<mat-card class="login-wrapper">
  <mat-card-title>Login to Ticketing system</mat-card-title>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="email-input">
      <input matInput placeholder="Enter your email" formControlName="email">
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-error *ngIf="email.invalid">Invalid email</mat-error>
    </mat-form-field>

    <mat-form-field class="password-input">
      <input matInput placeholder="Enter your password" [type]="'password'" formControlName="password">
      <mat-icon matSuffix>visibility</mat-icon>
      <mat-error *ngIf="password.invalid"> Invalid password </mat-error>
    </mat-form-field>

    <button mat-raised-button [disabled]="!loginForm.valid" color="primary" class="login-button" type="submit"> Login </button>
  </form>

</mat-card>
